.adashboard(layout='row')
  span(flex='')
  div(layout='column')
    h1 Admin Dashboard
    br
    br
    table(padding='1px', float='left',style="", class='table')
      thead
        tr
         th(colspan="2") user Management
        tr
         td
          div(style="border-radius: 50%;padding: 30px;background:#009688;height:80px;", ng-click='manEmp()')
            div(layout='column')
              i(class='fa fa-users fa-3x',style="margin-left:65px;")
              h3(style="color:white;margin-left:10px;") Manage Employees
         td
          div(style="border-radius:50%;padding:30px;width:190px;background:#009688;height:90px;", ng-click='manOrg()')
            div(layout='column')
              i(class='fa fa-sitemap fa-3x',style="margin-left:65px;")
              h3(style="color:white;") Manage Organization
        tr
         th(colspan="2") List Data Management
        tr
         td
          div(style="border-radius: 50%;padding: 30px;background:#009688;height:50px;", ng-click='manDep()')
            h3(style="color:white;") Manage Departments
         td
          div(style="border-radius: 50%;padding: 30px;background:#009688;height:50px;", ng-click='manDes()')
            h3(style="color:white;") Manage Designations
        tr
         td
          div(style="border-radius: 50%;padding: 30px;background:#009688;height:50px;", ng-click='viewLeave()')
            h3(style="color:white;") View Leave Request
          
         td
          div(style="border-radius: 50%;padding: 30px;background:#009688;height:50px;", ng-click='viewLog()')
            h3(style="color:white;") View Daily Log
        tr
          td(colspan="2")
            div(style="border-radius: 50%;padding: 30px;background:#009688;height:50px;width:150px;margin-left:130px;", ng-click='addProj()')
              h3(style="color:white;") Manage Projects

  span(flex='')