.leaveRequest-detail(layout='row')
  span(flex='')
  div(layout='column')
    h1 List of the leaveRequest
    table(padding='1px',border='1px',float='left')
      thead
        tr
         th S.no
         th
          a(href='#', ng-click="sortType = 'askDate'; sortReverse = !sortReverse") Requested Date
          span(ng-show="sortType == 'askDate' && !sortReverse")
          span(ng-show="sortType == 'askDate' && sortReverse")
         th 
          a(href='#', ng-click="sortType = 'user'; sortReverse = !sortReverse") Requested By
          span(ng-show="sortType == 'user' && !sortReverse")
          span(ng-show="sortType == 'user' && sortReverse")
         th 
          a(href='#', ng-click="sortType = 'reason'; sortReverse = !sortReverse") Reason
          span(ng-show="sortType == 'reason' && !sortReverse")
          span(ng-show="sortType == 'reason' && sortReverse")
         th 
          a(href='#', ng-click="sortType = 'startDate'; sortReverse = !sortReverse") Start Date
          span(ng-show="sortType == 'startDate' && !sortReverse")
          span(ng-show="sortType == 'startDate' && sortReverse")
         th
          a(href='#', ng-click="sortType = 'endDate'; sortReverse = !sortReverse")  End Date
          span(ng-show="sortType == 'endDate' && !sortReverse")
          span(ng-show="sortType == 'endDate' && sortReverse")
        tr(dir-paginate='leaveRequest in leaveRequests | itemsPerPage: perPage | orderBy:sortType:sortReverse ', total-items='leaveRequestsCount.count', current-page='page')
         td {{$index+1}}
         td {{leaveRequest.askDate| date:'fullDate' }} 
         td {{leaveRequest.user}} 
         td {{leaveRequest.reason }}
         td {{leaveRequest.startDate| date:'fullDate' }}
         td {{leaveRequest.endDate| date:'fullDate' }}
    dir-pagination-controls.md-accent(on-page-change='pageChanged(newPageNumber)')
  span(flex='')