md-toolbar.toolbar(layout='row', layout-align='start center', layout-padding='')
  .navbar-left(layout='row', layout-align='center center')
    h3 E-Timesheet ...
    
    
    

  span(flex='')
  .navbar-right 
    {{currentUser.emails[0].address}}
    a(href='/logout') Logout
 