md-toolbar.toolbar(layout='row', layout-align='start center', layout-padding='')
  .navbar-left(layout='row', layout-align='center center')
    h3 E-Timesheet ...
    div(ng-controller='toolCtrl', ng-if='currentUser.emails[0].address')
      div(ng-if='user(currentUser.emails[0].address)')
        a(href='/udashboard') Home
      div(ng-if='!user(currentUser.emails[0].address)')
        a(href='/adashboard') Home
    
    
    

  span(flex='')
  .navbar-right 
    {{currentUser.emails[0].address}}
    div(ng-if='currentUser.emails[0].address')
      a(href='/logout') Logout
 