.emplst(layout='row')
  span(flex='')
  div(layout='column')
    h1 User Management
    table(padding='1px',border='1px',float='left')
      thead
        tr
         th S.no
         th
          a(href='#', ng-click="sortType = 'name'; sortReverse = !sortReverse") Name
          span(ng-show="sortType == 'name' && !sortReverse")
          span(ng-show="sortType == 'name' && sortReverse")
         th 
          a(href='#', ng-click="sortType = 'Mnumber'; sortReverse = !sortReverse") Contact
          span(ng-show="sortType == 'Mnumber' && !sortReverse")
          span(ng-show="sortType == 'Mnumber' && sortReverse")
         th
          a(href='#', ng-click="sortType = 'primary'; sortReverse = !sortReverse")  Email Address
          span(ng-show="sortType == 'primary' && !sortReverse")
          span(ng-show="sortType == 'primary' && sortReverse")
         th Options
        tr(dir-paginate='employee in employees | itemsPerPage: perPage |  orderBy:sortType:sortReverse', total-items='employeesCount.count',  current-page='page')
         td {{$index+1}}
         td {{employee.name}} {{employee.Lname}}
         td {{employee.personalDetails.Contact.Mnumber}}
         td {{employee.emailAddress.primary}}
         td 
          a(ng-href='/employees/{{employee._id}}') Edit
          button(ng-click='remove(employee._id,employee.emailAddress.primary)') Delete
          a(ng-href='/reset/{{employee._id}}') Reset Password
        tr
         td(colspan='5') .
        tr
         td(colspan='5') Total number of Users: {{employeesCount.count}}
    dir-pagination-controls.md-accent(on-page-change='pageChanged(newPageNumber)')
    
  span(flex='')
