* {
  /* margin: 0; */
  /* padding: 0;  #135234*/
}
  /* 
  Generic Styling, for Desktops/Laptops 
  */
  table { 
    border-collapse: collapse; 
  }
  /* Zebra striping */
  tr:nth-of-type(odd) {
    background: #cdc;
  }
  th { 
    background:rgb(0,150,136); 
    color: white; 
    font-weight: bold; 
  }
  td, th { 
    padding: 6px; 
    border: 1px solid #cdcd; 
    text-align: left; 
  }
.table
  >th {background: #fff; }
  tr
  td
    border 0
    background #fff
.md-button {
  min-width: 100px;
  min-height:50px;
  border-radius: 50%;
  text-align: center;
  text-decoration:none;
  border: none;
  outline: none;
}
.md-button:hover {
  background-color: rgba(193, 193, 193, 0.96);
  color: rgba(44, 65, 164, 0.96);
  transition: 0.3s;
}