.designations-list(layout='row')
  span(flex='')
  div(layout='column')
    h1(ng-if='!IsVisible') Designations
    form.md-whiteframe-z1(ng-submit='save()', name='form', ng-show='!IsVisible' novalidate='', layout-padding='')
      p Add a designation
      md-input-container
        label Name
        input(ng-model='newDesignation.name', placeholder='Name')
      Label Description
      textarea(ng-model='newDesignation.description',placeholder='Description')
      input.md-button.md-raised.md-primary(type='submit', value='Add')
    p(ng-if='!IsVisible')
      md-button.md-raised.md-primary(ng-click='cancel()') Cancel
    p(ng-if='IsVisible')
      md-button.md-raised.md-primary(style="border-radius: 15px;",ng-click='ShowHide()') Add Designation
    h2(ng-if='IsVisible') List of the Added Designation are
    table(padding='1px',border='1px',float='left', ng-if='IsVisible')
      thead
        tr
          th S.No
          th(ng-click="sortType = 'name'; sortReverse = !sortReverse")
            a(href='#',style="color:white;text-decoration:none;") Designation
              i(class='fa fa-sort',style="float:right;margin-left:13px;")
            span(ng-show="sortType == 'name' && !sortReverse")
            span(ng-show="sortType == 'name' && sortReverse")
          th(ng-click="sortType = 'description'; sortReverse = !sortReverse")
            a(href='#',style="color:white;text-decoration:none;") Description
              i(class='fa fa-sort',style="float:right")
            span(ng-show="sortType == 'description' && !sortReverse")
            span(ng-show="sortType == 'description' && sortReverse")
          th Operation
        tr(dir-paginate='designation in designations | itemsPerPage: perPage | orderBy:sortType:sortReverse', total-items='designationsCount.count',  current-page='page')
          td
            {{$index+1}}
          td
            {{ designation.name }}
          td
            {{ designation.description }}
          td
            a(href='/designations/{{designation._id}}',style="text-decoration:none;")
              i(class='fa fa-pencil-square-o fa-2x',style="color:rgb(0,150,136);")
                md-tooltip(md-direction='right') Edit
            i(class='fa fa-trash-o fa-2x',style="color:rgb(0,150,136);margin-left:13px;",ng-click='remove(designation._id);')
              md-tooltip(md-direction='right') Delete
    dir-pagination-controls.md-accent(on-page-change='pageChanged(newPageNumber)',ng-if='IsVisible')
    
     
  span(flex='')