.project-detail(layout='row')
  span(flex='')
  div(layout='column')
    h1 Here are the details of the project
    form.md-whiteframe-z1(name='form', ng-submit='save()', layout-padding='')
      md-input-container
        label Project Name
        input(ng-model='project.name', placeholder='Name')
      
      label Description
      textarea(ng-model='project.description', placeholder='About Project')
      div(layout='row', layout-align='space-around center') 
            label Start Date
            md-datepicker(ng-model='project.startDate', md-placeholder='From')
            label End Date
            md-datepicker(ng-model='project.endDate', md-placeholder='To')
      br
      ul Members
        li(ng-repeat='employee in employees',ng-model="project.member", style="list-style-type: none;")
          input(type='checkbox', checklist-model='member', checklist-value='employee.emailAddress.primary', ng-disabled="shouldBeDisabled(employee.deleted)", ng-click="toggle(employee.emailAddress.primary, member)", ng-checked="exists(employee.emailAddress.primary, member)" )
          {{employee.name}} {{employee.emailAddress.primary}}
        
      br
      label(layout='row') Parent
      md-select(ng-model='project.parent', placeholder='Select Parent Project if any')
       md-option(ng-value='project._id', ng-repeat='project in projects') {{ project.name }}
      div(layout='row')
        input.md-button(type='submit', value='Save')
        md-button(ng-click='reset()') Reset
        md-button(ng-href='/projects') Cancel
  span(flex='')