.organizations-list(layout='row')
  span(flex='')
  div(layout='column')
    h1(ng-if='IsVisible') Organizations
    form.md-whiteframe-z1(ng-submit='save()', name='form', novalidate='', layout-padding='', ng-show = 'IsVisible')
      p Add a organization
      md-input-container
        label Name
        input(ng-model='newOrganization.name', placeholder='Name')
      label Address
      textarea(ng-model='newOrganization.address',placeholder="Address")
      md-input-container
        label Contact
        input(ng-model='newOrganization.Contact.Phone',type='number', placeholder='Contact Number')
      md-input-container
        label Email
        input(ng-model='newOrganization.email', placeholder='Email Address', type='email')
      input.md-button(type='submit', value='Add')
      button(ng-click='cancel()') Cancel
    p(ng-if='!IsVisible')
      button(ng-click='ShowHide()') Add new Organization
    h1(ng-if='!IsVisible') List Of Added Organizations 
    table(padding='1px',border='1px',float='left', ng-if='!IsVisible')
      thead
        tr
          th S.No
          th
            a(href='#', ng-click="sortType = 'name'; sortReverse = !sortReverse") Name
            span(ng-show="sortType == 'name' && !sortReverse")
            span(ng-show="sortType == 'name' && sortReverse")
          th
            a(href='#', ng-click="sortType = 'address'; sortReverse = !sortReverse") Address
            span(ng-show="sortType == 'address' && !sortReverse")
            span(ng-show="sortType == 'address' && sortReverse")
          th
            a(href='#', ng-click="sortType = 'Phone'; sortReverse = !sortReverse") Contact Number
            span(ng-show="sortType == 'Phone' && !sortReverse")
            span(ng-show="sortType == 'Phone' && sortReverse")
          th
            a(href='#', ng-click="sortType = 'email'; sortReverse = !sortReverse") Email Address
            span(ng-show="sortType == 'email' && !sortReverse")
            span(ng-show="sortType == 'email' && sortReverse")
          th Operation
        tr(dir-paginate='organization in organizations | itemsPerPage: perPage | orderBy:sortType:sortReverse', total-items='organizationsCount.count',  current-page='page')
          td
            {{$index+1}}
          td
            {{ organization.name }}
          td
            {{ organization.address }}
          td
            {{organization.Contact.Phone}}
          td
            {{organization.email}}
          td
            a(href='/organizations/{{organization._id}}') Edit
            button(ng-click='remove(organization)') Remove
    dir-pagination-controls.md-accent(on-page-change='pageChanged(newPageNumber)')

    p(ng-if='!IsVisible') Total number of organizations: {{organizationsCount.count}}
     
  span(flex='')