.dailyLog-detail(layout='row')
  span(flex='')
  div(layout='column')
    h1 Here are the details of the dailyLog
    table(padding='1px',border='1px',float='left')
      thead
        tr
         th S.no
         th
          a(href='#', ng-click="sortType = 'createdDate'; sortReverse = !sortReverse") Log Date
          span(ng-show="sortType == 'createdDate' && !sortReverse")
          span(ng-show="sortType == 'createdDate' && sortReverse")
         th 
          a(href='#', ng-click="sortType = 'user'; sortReverse = !sortReverse") Record By
          span(ng-show="sortType == 'user' && !sortReverse")
          span(ng-show="sortType == 'user' && sortReverse")
         th Project name
         th 
          a(href='#', ng-click="sortType = 'description'; sortReverse = !sortReverse")  Description
          span(ng-show="sortType == 'description' && !sortReverse")
          span(ng-show="sortType == 'description' && sortReverse")
         th
          a(href='#', ng-click="sortType = 'Timetaken'; sortReverse = !sortReverse")  Time Taken
          span(ng-show="sortType == 'Timetaken' && !sortReverse")
          span(ng-show="sortType == 'Timetaken' && sortReverse")

        tr(ng-repeat='dailyLog in dailyLogs | orderBy:sortType:sortReverse')
         td {{$index+1}}
         td {{dailyLog.createdDate}} 
         td {{dailyLog.user}} 

         td 
          md-select(ng-model='dailyLog.pname', placeholder='Project Title')
            md-option(ng-value='project._id', ng-repeat='project in projects',ng-click="set(project.name)") {{ project.name }}
         td {{dailyLog.description}}
         td {{dailyLog.Timetaken}} hrs
    a(href='/adashboard') Cancel
         
    
  span(flex='')