.dailyLog-detail(layout='row')
  span(flex='')
  div(layout='column')
    h1 List of the dailyLog
    table(padding='1px',border='1px',float='left')
      thead
        tr
         th S.no
         th
          a(href='#', ng-click="sortType = 'createdDate'; sortReverse = !sortReverse") Log Date
          span(ng-show="sortType == 'createdDate' && !sortReverse")
          span(ng-show="sortType == 'createdDate' && sortReverse")
         th 
          a(href='#', ng-click="sortType = 'user'; sortReverse = !sortReverse") Record By
          span(ng-show="sortType == 'user' && !sortReverse")
          span(ng-show="sortType == 'user' && sortReverse")
         th 
          a(href='#', ng-click="sortType = 'pname'; sortReverse = !sortReverse") Project name
          span(ng-show="sortType == 'pname' && !sortReverse")
          span(ng-show="sortType == 'pname' && sortReverse")
         th 
          a(href='#', ng-click="sortType = 'description'; sortReverse = !sortReverse")  Description
          span(ng-show="sortType == 'description' && !sortReverse")
          span(ng-show="sortType == 'description' && sortReverse")
         th
          a(href='#', ng-click="sortType = 'Timetaken'; sortReverse = !sortReverse")  Time Taken
          span(ng-show="sortType == 'Timetaken' && !sortReverse")
          span(ng-show="sortType == 'Timetaken' && sortReverse")

        tr(dir-paginate='dailyLog in dailyLogs | orderBy:sortType:sortReverse |  itemsPerPage: perPage',total-items='dailyLogsCount.count', current-page='page')
         td {{ $index+1 }}
         td {{ dailyLog.createdDate | date:'fullDate' }} 
         td {{ dailyLog.user }} 

         td {{ dailyLog.pname}}
         td {{ dailyLog.description }}
         td {{ dailyLog.Timetaken }} hrs
    dir-pagination-controls.md-accent(on-page-change='pageChanged(newPageNumber)')
    
         
    
  span(flex='')