.employees-list(layout='row')
  span(flex='')
  div(layout='column')
    h1 Welcome To E-Timesheet Management System
    form.md-whiteframe-z1(ng-submit='save()', name='form', novalidate='', layout-padding='')
      div(layout='row', layout-align='space-around left') 
            div Name
            md-input-container
              input(type='text', required name='name',ng-model='newEmployee.name',placeholder='First Name', aria-label='Fname')

              div(ng-messages='form.name.$error' ng-if='form.name.$touched')
                div(ng-message='required') This is required
            md-input-container
              input(type='text', ng-model='newEmployee.Mname',placeholder='Middle Name', aria-label='Mname')
            md-input-container
              input(type='text', ng-model='newEmployee.Lname',placeholder='Last Name', aria-label='Lname')
      div(layout='row', layout-align='space-around left') 
        div Contact
        md-input-container
          input(type='number', ng-model='newEmployee.personalDetails.Contact.Mnumber',placeholder='Mobile ', aria-label='Mobile')
        md-input-container
          input(type='number', ng-model='newEmployee.personalDetails.Contact.Hnumber',placeholder='Home', aria-label='Home')
      div Address
      md-input-container
        input(type='textarea', ng-model='newEmployee.personalDetails.Address', aria-label='Address')
      div Email Address
      md-input-container
        input(type='email', ng-model='email',placeholder='Primary Email Address', aria-label='pAddress')
      md-input-container
        input(type='email', ng-model='newEmployee.emailAddress.secondary',placeholder='Secondary Email Address', aria-label='sAddress')
      div Password
        md-input-container
          input(type='password', ng-model='password',placeholder='Passwords', aria-label='password')
        md-input-container
          input(type='password', ng-model='Repassword',placeholder='Retype Password', aria-label='password')
      
      input.md-button(type='submit', value='Register')
    
  span(flex='')